@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}

#logo{
	margin-top: 10px;
	margin-left: 50px;
}

#text{
	text-decoration: none;
	height: 150px;
	width: 75px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 50px;
	float: center;
	width: 100%;
	display: block;
	margin-top: 15px;
}

.button {
	text-decoration: none;
	height: 75px;
	width: 75px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 50px;
	float: center;
	width: 100%;
	display: block;
	margin-top: 15px;
}

#ej {
	background-color: black;
	color: white;
}

#kj {
	background-color: orange;
	color: blue;
}

#pj {
	background-color: #CC8899;
	color: #FF73DF;
}

#hh {
	background-color: purple;
	color: green;
}

#mt {
	background-color: red;
	color: yellow;
}

#rk {
	background-color: silver;
	color: #FF4493
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

}